/* Global */
body, input, textarea, button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #edefff;
}

body {
  background-color: #0a092d;
  display: flex;
  justify-content: center;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 56, 86, 0.5);
  z-index: 99;
}

/* App container */
.App { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Notecard */
.notecard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  margin-bottom: 20px;
  background-color: #2e3856;
  width: 45rem;
  height: 25rem;
  font-size: 2rem;
  padding: 2rem;
  text-align: left;
}

/* Card controls */
.card-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  cursor: pointer;
}

.right-icons > *:not(:last-child) {
  margin-right: 10px;
}


.explain-button {
  display: flex;
  align-items: center;
  background-color: #2e3856;
  border: 1px solid transparent;
  border-radius: 9px;
  padding: 7px 5px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
  margin-right: 2px;
}

.explain-icon {
  margin-right: 10px; 
}

.explain-button:hover {
  background-color: #586380;
}

.ai-modal {
  background: #2e3856;
  border-radius: 10px;
  padding: 20px;
  z-index: 100;
}

.ai-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 56, 86, 0.5);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal */
.modal {
  position: fixed;
  top: 9%;
  left: 30%;
  transform: translateX(-50%, -60%);
  padding: 1rem;
  border-radius: 5%;
  background-color: #0a092d;
  width: 46rem;
  height: 25rem;
  z-index: 100;
}

.modal-exit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  background: grey;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Modal content */
.modal-editing {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: left;
  font-size: 2rem;
}


.modal-line-1,
.modal-line-2 {
  width: 100%;
  height: 1em;
  margin-bottom: 45px;
  padding: 0 0 5px 0;
  color: #edefff;
  background-color: #0a092d;
  border: none;
  border-bottom: 0.1rem solid #edefff;
  resize: none;
  box-shadow: none;
  outline: none;
  font-size: 1.2rem;
}

.modal-line-1:focus,
.modal-line-2:focus {
  border-bottom: 0.1rem solid yellow;
}

/* Modal buttons */
.modal-bottom-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal-bottom-buttons button {
  margin-left: 1.5rem;
  color: #edefff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10%;
  border: 1px solid transparent;
}

/* Delete button */
.delete-modal-button {
  background-color: #0a092d;
}

.delete-modal-button:hover {
  color: #7583ff;
  border: 1px solid #7583ff;
  background-color: #1a1a3d;
}

/* Save button */
.save-modal-button {
  background-color: #4255ff;
}

.save-modal-button:hover {
  border: 1px solid #423ed8;
  background-color: #1f1c8b;
}

/* Create button */
.create-note-button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: auto;
  font-size: 3rem;
  line-height: 4rem;
  cursor: pointer;
  border: none;
}

.note-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.pagination button {
  margin: 0 10px;
}

.pagination p {
  margin: 0 10px; 
}